
.card-size{
    margin-top: 1rem;

}

.card-img{
    height: 18rem;
    border-radius: 0;
}

.card-body{
    background: #212529;
    color: white;
}

.btn-text{
    color: white;

}

.btn-text:hover{
    color: white;
}
.fade-in-animation{
    -webkit-animation: fade-in 1.5s; 
    -moz-animation: fade-in 1.5s; 
    animation: fade-in 1.5s;
}
@keyframes fade-in {
    0% {
        opacity: 0
    } 
    100%{
        opacity: 1
    }
} 

@media(max-width: 575px){
    .card-size{
        max-width: 18rem;
        margin: 1rem auto 0;
    }
    .sm-resize{
        width: 230px;
    }

    .btn-spacing{
        margin-top: 3px;
    }
}