
.row-content{
    margin-top: 1rem;
    padding: 1rem 0;
    background: #212529;
    color: white;
}

.img-content {
    border: 1px solid white;
}

.btn-text{
    color: white;
}

.btn-text:hover{
    color: white;
}

.content{
    -webkit-animation: fade-in 1.5s; 
    -moz-animation: fade-in 1.5s; 
    animation: fade-in 1.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0
    } 
    100%{
        opacity: 1
    }
} 